body {
    padding-top: 3.5rem;
}

main:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://www.diretube.com/uploads/articles/f7659f40.jpg');
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
    z-index: -1;
}


h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
}
.header{
    text-align: center;
}

